<html xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true"
>

<f:layout name="Preview"/>

<f:section name="Header">
    <be:link.editRecord uid="{data.uid}" table="{data.mainType}"><h1>{data.header}</h1></be:link.editRecord>
</f:section>

<f:section name="Content">
    <!-- Start of the content rendering -->
    <f:if condition="{data.url}">
        <f:link.typolink parameter="{data.url}">
            <f:if condition="{data.image}">
                <f:then>
                    <!-- Loop through images (if multiple) and render them -->
                    <f:for each="{data.image}" as="image">
                        <div class="relative group w-full h-0 pb-[56.25%]">
                            <f:image image="{image}" width="1920" height="1280" class="absolute inset-0 w-full h-full object-cover"/>
                            <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-10 transition-opacity z-10"></div>
                        </div>
                    </f:for>
                </f:then>
                <f:else>
                    <!-- Remove video and add light blue element instead -->
                    <div style="position: relative; padding-bottom: 56.25%; width: 100%; height: 0; overflow: hidden;">
                        <video src="{data.text}" style="position: absolute; inset: 0; width: 100%; height: 100%; object-fit: cover;" muted autoplay loop playsinline></video>
                        <div style="position: absolute; inset: 0; background-color: black; opacity: 0; transition: opacity 0.3s; z-index: 10;"></div>
                    </div>
                </f:else>
            </f:if>
        </f:link.typolink>
    </f:if>
</f:section>

</html>
